@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    background-image: url(28454-matrix.jpg);
    background-size: 100%
    color:whitesmoke;
    border-radius: 10px;
}

*{
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

input , button {
    border: none;
    outline: none;
}

:getpass {
   padding: 25px;
   background-color: rgb(12, 11, 11);
   box-shadow: 15xp 40px 15px rgba(1, 29, 2, 0.75);
   border-radius: 4px;

}






