@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url(28454-matrix.jpg);
    background-size: 100%;
    color: rgb(62, 236, 9);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 20px;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgb(12, 11, 11);
    box-shadow: 10px 5px 5px rgb(62, 236, 9);
    text-align: center;
    vertical-align: middle;
}

.getIn {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgb(12, 11, 11);
    box-shadow: 10px 5px 5px rgb(62, 236, 9);
}

.getDisplay {
    margin: auto;
    font-size: 30pt;
    text-align: center;
    color: rgb(74, 88, 70);
    text-shadow: 2px 2px 2px rgb(62, 236, 9);
}

.getDisplay2 {
    margin: auto;
    font-size: 15pt;
    text-align: right;
    color: rgb(74, 88, 70);

}

.p1 {
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
    text-align: justify;
}


.getOff {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgb(12, 11, 11);
    box-shadow: 10px 5px 5px rgb(62, 236, 9);
}

.getOffdisplay {
    margin: auto;
    font-size: 30pt;
    text-align: center;
    color: rgb(74, 88, 70);
    text-shadow: 2px 2px 2px rgb(62, 236, 9);
}

.getOffdisplay2 {
    margin: auto;
    font-size: 15pt;
    text-align: right;
    color: rgb(74, 88, 70);
    text-shadow: 2px 2px 2px rgb(62, 236, 9);
}

h1,
h2 {
    text-align: center;
}

h3 {
    text-align: right;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 90%;
    height: 20px;
    margin: 1px
}

.rang {
    width: 90%;
    height: 10px;
    margin: 1px
}